---
import RunCard from "../../components/RunCard.astro";
import Layout from "../../layouts/Layout.astro";
import { shortTitle } from "../../lib/constants";
import { getSortedRuns } from "../../lib/runs";

const { upcoming } = await getSortedRuns();
---

<Layout title={`Upcoming Runs - ${shortTitle}`} activeHref="/run">
  <main>
    <section>
      <h2>Upcoming Runs</h2>
      {upcoming.map((run) => <RunCard {run} />)}
    </section>
  </main>
</Layout>
