---
import Map from "../../components/Map.astro";
import Layout from "../../layouts/Layout.astro";
import { shortTitle } from "../../lib/constants";
import { getBrisbaneDatetimeString } from "../../lib/dates";
import { getUpcomingRuns } from "../../lib/runs";

const runs = await getUpcomingRuns();
---

<Layout title={`Upcoming Runs - ${shortTitle}`}>
  <h2>Upcoming Runs</h2>
  {
    runs.map((run) => (
      <section class="card">
        <h4>{getBrisbaneDatetimeString(run.data.startTime)}</h4>
        <a href={`/run/${run.slug}`}>More info</a>
        <Map run={run} />
      </section>
    ))
  }
</Layout>

<style>
  .card {
    border-radius: 8px;
    border: solid grey 1px;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  .card h4 {
    margin-top: 0;
  }

  .card p {
    margin-bottom: 0;
  }
</style>
