---
export const prerender = true;

import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { shortTitle } from "../../../lib/constants";
import Map from "../../../components/Map.astro";
import { getBrisbaneDatetimeString, getDateSlug } from "../../../lib/dates";

export async function getStaticPaths() {
  const runs = await getCollection("runs");
  return runs.map((entry) => ({
    params: { slug: getDateSlug(entry.data.startTime) },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"runs">;
};

const { entry } = Astro.props;
const { Content } = await entry.render();

const formattedTime = getBrisbaneDatetimeString(entry.data.startTime);
---

<Layout title={`${formattedTime} - ${shortTitle}`}>
  <h2>{formattedTime}</h2>
  <Content />
  <p>
    After every run, we'll pick somewhere nearby for a drink or a meal, so
    please feel free to hang around for as long as you'd like!
  </p>
  <Map run={entry} />
</Layout>
