---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import { shortTitle } from "../lib/constants";
---

<Layout title={`FAQ - ${shortTitle}`}>
  <h3>FAQs</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Faucibus et molestie ac
    feugiat sed lectus vestibulum mattis ullamcorper. Vestibulum lorem sed risus
    ultricies tristique. Ullamcorper morbi tincidunt ornare massa eget egestas
    purus viverra. Nibh venenatis cras sed felis eget velit. Porta nibh
    venenatis cras sed felis. Cras sed felis eget velit. Nullam non nisi est sit
    amet facilisis magna etiam. Vitae ultricies leo integer malesuada nunc vel.
    Gravida cum sociis natoque penatibus et magnis dis parturient. Vitae congue
    mauris rhoncus aenean vel elit scelerisque mauris.
  </p>

  <p>
    Vel orci porta non pulvinar neque laoreet suspendisse interdum. Egestas
    purus viverra accumsan in. Sed viverra tellus in hac habitasse platea
    dictumst. Arcu dictum varius duis at consectetur lorem donec massa. Ut
    consequat semper viverra nam libero justo laoreet. Dolor sit amet
    consectetur adipiscing elit duis tristique sollicitudin nibh. Suspendisse
    faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Dolor
    morbi non arcu risus. Nam aliquam sem et tortor consequat id porta nibh
    venenatis. Et tortor consequat id porta nibh venenatis cras sed. Leo integer
    malesuada nunc vel risus commodo viverra maecenas. Phasellus vestibulum
    lorem sed risus ultricies tristique nulla. Sed elementum tempus egestas sed
    sed risus pretium. Vulputate odio ut enim blandit volutpat maecenas
    volutpat. Amet porttitor eget dolor morbi non arcu. Dictumst quisque
    sagittis purus sit. Amet mattis vulputate enim nulla aliquet porttitor.
    Lacus vestibulum sed arcu non. At volutpat diam ut venenatis.
  </p>

  <p>
    Adipiscing vitae proin sagittis nisl rhoncus. Neque convallis a cras semper
    auctor neque vitae tempus quam. Leo integer malesuada nunc vel risus
    commodo. Molestie nunc non blandit massa enim nec. Adipiscing elit ut
    aliquam purus. Blandit massa enim nec dui nunc. Laoreet suspendisse interdum
    consectetur libero id faucibus. Sit amet tellus cras adipiscing enim eu
    turpis. Vivamus arcu felis bibendum ut tristique et egestas quis. Commodo
    odio aenean sed adipiscing diam donec adipiscing tristique. Duis tristique
    sollicitudin nibh sit amet. Tortor aliquam nulla facilisi cras. Malesuada
    fames ac turpis egestas sed tempus urna et. Ut pharetra sit amet aliquam id
    diam.
  </p>

  <p>
    Varius sit amet mattis vulputate enim nulla aliquet porttitor lacus. Sed
    tempus urna et pharetra pharetra massa massa. Euismod quis viverra nibh cras
    pulvinar mattis nunc sed. Vitae aliquet nec ullamcorper sit. Pharetra diam
    sit amet nisl suscipit adipiscing bibendum est ultricies. Placerat orci
    nulla pellentesque dignissim enim. Odio facilisis mauris sit amet massa
    vitae tortor condimentum. Viverra mauris in aliquam sem fringilla ut morbi.
    Vestibulum sed arcu non odio euismod lacinia at. Penatibus et magnis dis
    parturient. Turpis massa sed elementum tempus egestas sed. Vitae auctor eu
    augue ut lectus arcu bibendum at varius. Et tortor at risus viverra. Dui
    nunc mattis enim ut tellus elementum sagittis. Id cursus metus aliquam
    eleifend mi in nulla posuere sollicitudin. Amet consectetur adipiscing elit
    pellentesque habitant morbi tristique senectus et. In nisl nisi scelerisque
    eu ultrices vitae auctor eu. Vel elit scelerisque mauris pellentesque
    pulvinar pellentesque.
  </p>

  <p>
    Viverra maecenas accumsan lacus vel facilisis. Gravida arcu ac tortor
    dignissim. Orci ac auctor augue mauris augue neque gravida in fermentum. Ac
    ut consequat semper viverra nam libero justo laoreet sit. Proin sagittis
    nisl rhoncus mattis rhoncus. Sollicitudin nibh sit amet commodo nulla
    facilisi nullam vehicula ipsum. Volutpat lacus laoreet non curabitur gravida
    arcu ac tortor dignissim. Iaculis at erat pellentesque adipiscing. Venenatis
    urna cursus eget nunc scelerisque viverra mauris in. Ipsum a arcu cursus
    vitae congue mauris rhoncus aenean vel. Id faucibus nisl tincidunt eget
    nullam. Quam id leo in vitae turpis massa. Placerat orci nulla pellentesque
    dignissim. Lobortis scelerisque fermentum dui faucibus in. Dapibus ultrices
    in iaculis nunc. Quis risus sed vulputate odio ut enim. Et malesuada fames
    ac turpis egestas. Augue ut lectus arcu bibendum at varius vel pharetra.
  </p>
</Layout>
