---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import { longTitle } from "../lib/constants";
---

<Layout title={longTitle} activeHref="/">
  <h2>Home</h2>
  <p>Hey friends!</p>

  <p>
    Come join us for a run, chat and drink every Wednesday afternoon around the
    Maroochydore/Alexandra Headlands area.
  </p>

  <p>
    We jog together as a group over to the start of the main session - always
    planned in way that ensures everyone gets in a great session no matter your
    level of fitness and speediness! We'll spend 20-25 minutes here running
    intervals, then regroup and jog back to the starting point before heading
    for dinner/drinks for anyone who is keen to stick around.
  </p>

  <p>
    Check out the upcoming runs for exact locations and reach out to Kate or
    Chris if you have any questions. No cost to join!
  </p>

  <p>
    We are all about having fun and not taking ourselves too seriously. We'd
    love to see you for a run soon!
  </p>
</Layout>
