---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import { shortTitle } from "../lib/constants";

const faqs: Array<{ question: string; answer: string[] }> = [
  {
    question: "So what is this all about?",
    answer: [
      "We (Kate and Chris) wanted to find a way to create a small community based in our local around enjoying an activity that we enjoy.",
      " So we are starting this club to bring people together to stay fast and make friends.",
    ],
  },
  {
    question: "Whats the plan?",
    answer: [
      "We meeting most Wednesday to train together for about 1 hour, and then feel free to stay as long as you'd like in the evening doing something social.",
    ],
  },
];
---

<Layout title={`Info - ${shortTitle}`}>
  <h2>Contact</h2>

  <p>
    Please feel free to get in touch with for any questions, comments, etc. The
    easiest approach is one of the following two ways:
  </p>

  <ol>
    <li>
      <a
        href="https://signal.group/#CjQKIGlqYGaisbj7IpkudO8s9suHA4-nUW0rv6sfgH51TWUzEhAyF6Zzd6Bc-861TpbwTt8z"
        >Join our QPRC Signal group chat</a
      >
    </li>
    <li>
      Show up at one of the runs. Newbies are always welcome and we add new
      events to this site manually, so if it's in the upcoming runs list then
      someone will be there!
    </li>
  </ol>

  <h2>Questions</h2>

  {
    faqs.map((faq) => (
      <details>
        <summary class="font-bold mb-2">{faq.question}</summary>
        {faq.answer.map((answer, i) => {
          const isLast = i === faq.answer.length - 1;
          return (
            <p
              class="mt-0 ml-[18px]"
              class:list={{ "mb-4": isLast, "mb-2": !isLast }}
            >
              {answer}
            </p>
          );
        })}
      </details>
    ))
  }
</Layout>
