---
export const prerender = true;

import Accordion from "../components/Accordion.astro";
import Layout from "../layouts/Layout.astro";
import { emailAddress, shortTitle, signalJoinLink } from "../lib/constants";

import { chris, kate } from "../lib/pictures";
---

<Layout title={`Info - ${shortTitle}`} activeHref="/info">
  <main>
    <section>
      <h2>Contact</h2>

      <p>
        Please feel free to get in touch with us for any questions, thoughts or
        feedback. You can use one of the following ways:
      </p>

      <ol>
        <li>
          <a href={signalJoinLink}>Join our Signal group chat</a>
        </li>
        <li>
          Email us at
          <a href={`mailto:${emailAddress}`}>{emailAddress}</a>
        </li>
        <li>
          Show up at one of the runs. Newbies are always welcome and we add new
          events to this site manually, so if it's in the upcoming runs list
          then someone will be there!
        </li>
      </ol>
    </section>

    <section>
      <h2>Questions</h2>

      <Accordion
        question="I'm new, what do you look like so I can find you?"
        answer={[
          "Yay we're excited for you to join! Please look out for your group leads, Kate & Chris. Here's a photo of each of us so you know who to look for.",
        ]}
        pictures={[
          { src: kate, alt: "Kate headshot" },
          { src: chris, alt: "Chris headshot" },
        ]}
      />
      <Accordion
        question="Who organises QPRC and why?"
        answer={[
          "We (Kate and Chris) wanted to bring people together in the Maroochydore area, around staying active and having a laugh. As keen runners ourselves, we'd noticed there was a gap in the area for a free running group that provides a structured session each week.",
        ]}
      />
      <Accordion
        question="How does the run session work? And how does it cater for all abilities?"
        answer="The full session will take about 1 hour. Heading off at 5.30pm, we will jog together as a group to the starting point of the main session. From there Kate or Chris will explain the session that day and we run time based intervals for about 20-25 minutes. This means that the faster runners will run more intervals and cover more distance than the slower runners, allowing everyone to get a great run, at any level of fitness! We'll then regroup and jog back to the starting point by 6.30pm at the latest."
      />
      <Accordion
        question="Is there a minimal level of fitness required?"
        answer="No! You can walk as much as needed at anypoint during the run. If you're still not sure, then please reach out to us with any questions."
      />
      <Accordion
        question="Do we run in bad weather?"
        answer="Almost always yes! If it's just rain, we'll still be out running. If the weather is more hectic and unsafe, then we will update the event page to let you know if it's been cancelled."
      />
      <Accordion
        question="How do I know if this week's run is on?"
        answer="If the run is listed on the site - then it's happening! On the odd occasion that we need to cancel a run, it will be very clearly marked as 'cancelled event'. If you are ever unsure, please message the signal group chat to check in."
      />
    </section>
  </main>
</Layout>
