---
import type { MeetingPoint } from "../lib/meetingPoints";

type Props = {
  meetingPoint: MeetingPoint;
  size?: string;
};

const { meetingPoint, size } = Astro.props;
---

<>
  <iframe
    title={`Map to ${meetingPoint.location}`}
    src={meetingPoint.embedUrl}
    width={size ?? "100%"}
    height={size ?? "250"}
    allowfullscreen={false}
    referrerpolicy="no-referrer"
    class="border"
    loading="lazy"></iframe>
  <a href={meetingPoint.appleUrl}>
    <small>Open in Apple Maps</small>
  </a>
</>
